app-header([panelOpen]='activePanel', (closePanel)='closeView()')

.parent([@slideInOut]='activePanel')
  .list
    app-restaurant-list((restaurantSelected)='openView($event)')
  .detail
    app-restaurant-detail([restaurant]='restaurant')