app-header([panelOpen]='activePanel', (closePanel)='closeView()')

.parent([@slideInOut]='activePanel')
  div
    app-restaurant-list((restaurantSelected)='openView($event)')
  div
    app-restaurant-detail([restaurant]='restaurant')