@import '../../variables'

.restaurant-detail
  height: 100%
  background-color: white

agm-map
  height: 180px

@media only screen and (min-width: 768px)
  agm-map
    height: 270px

.name
  height: 60px
  width: 100%
  background-color: $dark-green
  color: white
  padding-top: 0.625rem
  padding-left: .75rem

.details
  color: $main-grey
  position: relative
  padding-left: .75rem
  padding-top: 1rem

.detail
  margin-bottom: 1.625rem

.placeholder
  line-height: 95vh