@import '../../variables'

.is-bottom-left
  position: absolute
  bottom: 0.375rem
  left: .75rem

.restaurant
  color: white
  height: 180px
  width: auto
  background-position: center
  background-size: cover

.list
  max-height: calc(100vh - #{$header-height})
  overflow: scroll